/* Sayfa yüklenirken görünen loader alanı */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9); /* %90 beyaz, yani %10 şeffaf */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Kalp şekli */
.heart {
  width: 100px;
  height: 90px;
  background-color: red;
  position: relative;
  transform: rotate(-45deg);
  animation: spin 2s linear infinite;
}

/* Kalbin üst sağ yuvarlağı */
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  background-color: red;
  border-radius: 50%;
}

/* Sol yuvarlak */
.heart::before {
  top: -50px;
  left: 0;
}

/* Sağ yuvarlak */
.heart::after {
  left: 50px;
  top: 0;
}

/* Döndürme animasyonu */
@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
