/* Sayfa yüklenirken görünen loader alanı */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9); /* %90 beyaz, yani %10 şeffaf */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


/* Küçük Kalp Şekli */
.heart {
  width: 50px;
  height: 45px;
  background-color: red;
  position: relative;
  transform: rotate(-45deg);
  animation: spin 2s linear infinite;
}

/* Kalbin üst sağ yuvarlağı */
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 45px;
  background-color: red;
  border-radius: 50%;
}

/* Sol yuvarlak */
.heart::before {
  top: -25px;
  left: 0;
}

/* Sağ yuvarlak */
.heart::after {
  left: 25px;
  top: 0;
}

/* Döndürme animasyonu */
@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  overflow: hidden;
}

.birthday-text {
  font-size: 2rem;
  color: #ff4081;
  font-weight: bold;
  margin-bottom: 20px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.countdown-text {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
